body {
    background-image: url("h4n.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

	overflow-x: hidden;

    font-family: 'Patrick Hand', cursive;
}

h1 {
	/*color: white*/
}

.row {
/*margin: 150px;*/
text-align: center;
margin-top: 200px;
}

.btn-primary {
	background-color: gray;
}
.btn-primary:hover {
	background-color: black;
}